body{border:whitesmoke;border-width: 5px;border-style: solid; color:white;
    background-image: url(https://i.pinimg.com/originals/8e/46/15/8e46150f790fbefe438d9c2767c32ad1.gif
    );}
h1{text-align: center; text-decoration: underline;}
h2#h2{margin-right: 20px;}
a{font-size: 20px; text-decoration: none; color:white;text-align: center;}
img{position:absolute;height:50px;}
div{margin-top:20%;margin-left: 88%;}
p{margin-left: 25px;margin-right: 25px;}
