body{background-image:url(https://i.pinimg.com/originals/60/3e/2b/603e2b0cb7851cbad427ddafc1b5f292.gif);
     background-size: cover;}
h1{color:whitesmoke; text-align: center; font-family: Domine; font-weight: 700; margin-left:35%;margin-right:35%;
    margin-top:21%; font-size:50px;}
a{font-size: 20px; text-decoration: none; color:wheat;text-align: center;}
img{position:absolute;height:50px;}
div{margin-top:17%;margin-left: 89%;}
