body{color:azure; background-image: url(https://i.pinimg.com/originals/a9/ad/1b/a9ad1b6948f3b40b8044d2b6968ad25a.gif
    );}
h1{font-size: 150px;text-align: center; margin-top:150px ;}
h5{text-align:left;position:absoulte; margin-top: 280px;}
a{position:absolute;margin-left:85%;margin-top: 12%; height:25px;width:50px;}
